body, html{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
a{
	color: #1e73be;
	text-decoration: none;
	border-bottom: 1px solid #1e73be;
	transition: all 0.3s linear;
}
a:hover{
	border-color: transparent;
}
.center{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.text-center{
	text-align: center;
}
header{
	background: #f4faff;
}
.logo{
	font-size: 45px;
	font-weight: 700;
	border: none;
	padding: 20px 0;
}
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
}
.logo a{
	border: none;
}
.logo a:hover .color{
	color: #1e73be;
}
.logo .color{
	transition: all 0.3s linear;
	color: red;
}
.btn{
	background: #1e73be;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	border: none;
	width: 100%;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	max-width: 320px;
}
.btn:hover{
	background: 
}
.btns{
	margin-bottom: 80px;
}
h1, h2{
	margin: 0 0 30px;
	font-weight: 700;
}
h1{
	font-size: 50px;
	color: #fff;
}
h2{
	color: #1e73be;
	font-size: 40px;
}
h3{
	color: #1e73be;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}
h4{
	font-size: 20px;
	color: #1e73be;
}
ul{
	max-width: 700px;
	margin-bottom: 40px;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	margin: 0 -15px;
}
.flex-container > *{
	flex: 1 0 250px;
	margin: 15px;
}
.top-block{
	background: url(../img/top-header.jpg) no-repeat top center/cover;
	color: #fff;
	padding: 50px 0;
	position: relative;
}
.top-block .flex-container{
	min-height: 600px;
}
.top-block .flex-container{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top-block .flex-container > *{
	flex: 0 0 auto;
}
.top-block:after{
	content: "";
	background: rgba(29, 54, 75, 0.87);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.top-block > *{
	position: relative;
	z-index: 2;
}
.top-block .description{
	max-width: 700px;
	margin: 0 auto;
	font-weight: 500;
}
section{
	padding: 50px 0;
}
footer{
	background-color: #262526;
	padding: 60px 0 48px;
	font-size: 14px;
	text-align: center;
	color: #919191;
}
.title{
	max-width: 700px;
	text-align: center;
	margin: 0 auto 50px;
}
.number{
	border: 1px solid #1e73be;
	margin-bottom: 100px;
	border-radius: 10px;
	height: 40px;
	max-width: 400px;
	margin: 0 auto 20px;
	display: block;
	width: 100%;
	padding: 0 15px;
	outline: none;
}
.tariff-benefits{
	margin-bottom: 30px;
}
.message{
	display: none;
}
.message h3{
	background: green;
	padding: 10px 20px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
}
.message.active{
	display: block;
	margin-top: 20px;
}
@media screen and (max-width: 768px) {
	h1{
		font-size: 32px;
	}
	body{
		font-size: 14px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 22px;
	}
	ul{
		margin-left: 10px;
	}
}